@charset "UTF-8";
/**
 * 
 * @authors肖茹冰(you@example.org)
 * @date    2018-05-07 16:15:37
 * @version $Id$
 */
.content_right h2 {text-align: center;line-height: 60px;}
.info{text-align: center;margin: 10px;}
.info font{margin: 0px 20px;}
.content_right p{text-indent:2em;line-height: 20px;}

