@charset "UTF-8";
.invicomment_title h1{font-size:3em;margin:.67em 0;font-weight: 600;}
.open{border: none;box-shadow: none;}
.invicomment p{font-size: 2em;line-height: 2.5em;}
.invicomment span{font-size: 2em;}
.invitation_comstitle{height: 80px;line-height: 80px;}
.invitation_comstitle h2{font-weight: 600;font-size: 2.8em;}
.invitation_comstitle span{width: 130px;display: inline-block;color: #7C7C7C;background: url(../img/icon/order.png)left center no-repeat;}
.floor{display: inline-block;color: #7C7C7C;padding: 10px 30px;}
.invicomment_text img{margin-bottom: 10px;}