
/* section1 punlic */
.title{height: 30px;line-height: 30px;border-bottom: 2px solid #0089E1;padding: 0 10px 0 0;}
.title_h2{border-left:10px solid #0089E1; padding-left:5px;}
.news_content{margin: 20px 10px;}
.news_content li{height: 35px;font-size: 1.3em;line-height: 35px;}
.news_content li a{color: #000;display: block;}
.news_content li a:hover{color: #FEA356;border-bottom: 1px dashed #dee1d3;}
/* section*/
#xkdt,#bazn,#cyxz,#xwfb,#kjtj,#newsimg{width: 385px;}
#xkdt,#bazn,#xwfb,#newsimg{margin-right: 10px;}
#bazn,#cyxz,#xwfb,#kjtj{margin-left:5px;}
#xkdt,#newsimg{margin-left: 5px;}
#newsimg{position:relative;height: 281px;}
#newsimg>ul li{float: left；}
#newsimg>ul li a{position:absolute;display: none;float: left;}
#newsimg img{width: 385px;height: 281px;}
.secmain > div{
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
  border-radius: 5px;
}