.content_right ul li{float: left;width:253px;height:245px;margin:0 5px 10px 0;overflow:hidden;line-height:25px;text-align:center;}
.content_right ul li a{display:block;width:251px;;height:210px;overflow: hidden;border:1px solid #C9C9C9;background:#f3f3f3;}
.content_right ul li a img{max-width: 251px;max-height:210px;margin:0 auto; }