/* content_right */
.teacher_self,.self_content{height: 210px;}
.teacher_self{width: 100%;background:rgba(199, 220, 241,0.2)}
.teacher_self img{max-width: 251px;max-height: 210px;margin-right:9px;}
.self_content{width: 620px;float:right;}
.self_content h3{line-height: 80px;}
.teacher_table{width: 100%;}
.teacher_table h4{color: #00489D;}
.teacher_table table .leibie{width: 15%;text-align: center;}
.teacher_table table .table_content{border-left: 1px solid #535353;line-height:25px;}