@charset"UTF-8"
/*loading*/
.loading{width: 100%;height: 100%;position: fixed;top: 0; left: 0; z-index: 1000;background: #fff;}
.loading .pic{width: 180px; height: 152px; background: url(../img/icon/loading.gif); position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}