@charset "UTF-8";
.invicomment_title h1{font-size:3em;margin:.67em 0;font-weight: 600;}
.open{border: none;box-shadow: none;}
.invicomment p{}
.invitation_comstitle{height: 80px;line-height: 80px;}
.invitation_comstitle h2{font-weight: 600;font-size: 2.8em;}
.floor{display: inline-block;color: #7C7C7C;padding: 10px 30px;}
.invicomment_text img{margin-bottom: 10px;}
/*icons*/
.icon{height: 60px;display: inline-block;color: #7C7C7C;line-height: 60px;}
.report{color: #0181FD;}
.Input_Box textarea{font-size: 1.2em;}


