@charset "UTF-8";
body{background: #FEFEFE;}
a{text-decoration: none;}
a:hover{text-decoration: none!important;}
a:focus{text-decoration: none;}
a{color:#000;}
li{list-style: none;}
/*单行文字超出隐藏*/
.text-overflow{display:block;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*居中对齐*/
.center-vertical {position:relative;top:50%;transform:translateY(-50%);}
/*标签颜色*/
.chat_bule{background-color: #5bc0de;}
.live_orange{background-color:orange;}
.help_red{background: red;}
.exper_green{background: green;}
.free_purprl{background: purple;}
.userimg,.userimgBox{width: 40px;height: 40px;}
.userimgBox{border-radius: 50%;overflow: hidden;display: block;}
.datatime{font-size: 1.2em;}
.menu_css{position: fixed;bottom: 0;left: 0;padding:10px 10px 5px 10px;z-index: 999;background: #fff;border-top: 1px solid #959595;}
.menu_css ul{width: 100%;}
.menu_css ul li{float: left;text-align: center;}
/* .usual_menu 主界面菜单*/
.menu_css .usual_menu li{float: left;width: 20%;text-align: center;}
.menu_css ul li a{display:block;}
.menu_css ul li a:checked{text-decoration: none;}
.menu_css ul li p{color: #4B4B4B;}
.menu_css ul li a .blue{color:#0084FF;}
.level{display:inline-block;padding: 5px;border-radius: 5px;color:#fff;font-size: 1em;}
.paddusal{padding: 0px 10px;}
/*条列通用分割方式*/
.borderstyle{box-shadow: 0 10px 10px #ECECEC;}
/*底部到底提示*/
.bootom-tip{width: 100%;min-height: 80px;}
.bootom-tip h3{color:#AEAEAE;line-height: 80px;}