@charset "UTF-8";
/**
 * 
 * @authors 肖茹冰
 * @date    2018-05-03 14:38:05
 * @version $Id$
 */
 /*public style*/
.banner{width: 100%;}
.content-body{background: #DCD9D2;}
/*tab*/
.tab{padding-top: 10px;}
.tab:last-of-type{padding-bottom: 20px;}
.tab{overflow: hidden;}
.tab_main:first-of-type{margin-left:0px;}
.tab_main{float: left;width:390px;margin-left:15px;font-size: 1.2em;}
.tab_main ul{margin-top: 10px;}
.tab_main ul li{min-height:40px;line-height:20px;border-bottom: 1px solid #CED1D6;padding:10px 0}
.tab_main ul li font{float: right;margin-right:10px;}
.tab_main ul li>a{color: #000;}
.tab_main ul li font,.tab_main ul li>a,.title{font-size: 1em;}
.tab_main ul li:hover,.tab_main ul li>a:hover,.title a:hover{background: #fff;color: #EB6101;}
.tab_main ul li,.tab_img,.tab_img img{width: 100%;}
.tab_title{font-family:"SimSun",宋体;color: #A40000;height:50px;line-height:50px;border-left: 15px solid #A40000;background: #A8996E;}
.tab_title h4{float: left;margin-left:5px;font-size: 20px;}
.tab_title a{float: right;margin:5px 5px 0 0;color: #A40000;}
.tab_img{position: relative;}
.tab_img,.tab_img img{height: 180px;width: 310px;}
.tab_img a{position: absolute;}
.time{background: #A40000;float: left;overflow:hidden;margin:0 10px 0 0;}
.time span{display: block;text-align: center;padding:2px 5px;min-width: 50px;}
.time span:first-of-type{border-bottom:1px solid  #efefef;color: #F0EDED;font-size: 1.2em;}
.time span:last-of-type{background:#F0EDED;font-size:0.8em;color:#A40000;}
.title a{color: #000;}

