*{margin: 0;padding: 0;}
html,body{margin:0 auto;padding:0 auto;
font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu,"SimSun",宋体;}
a{text-decoration: none;}
li{list-style: none;}
/*public style*/
.head,.nav{width: 100%;}
.head_main,.look,.look img,.address,.content,.link,.footer{width: 1000px;}
.head .head_main.link ul,.head_main,.look,.address,.content,.link,.footer,.navbig{margin: 0 auto;}
/*.nav ul li{font-family:"SimSun",宋体;}*/
/*head*/
.head{height:150px;background-color: #00489D;}
.head img{margin-top: 10px;}
/*nav*/
.nav ul li,.navul{height: 40px;/*background-color: #fff;*/}
/*.nav ul li ul li{background-color: #DCDCDC;}*/
.navul,.navul ul,.nav{background: #585450;color: #fff;}
.navul{width:1000px;max-width:1000px;}
.navul,.navul ul{margin: 0 auto;/*border:2px solid #00A1E9;background: url(../img/back5.png)center repeat;*/}
.navul>li{width: 96px;max-width: 100px;line-height: 40px;}
.navul li a{display: block; color: #000;text-align: center;font-size: 1em;color: #fff;}
/*.navul,.navul>li:hover,.navul li a:hover,.navul li ul li:hover,.navul ul{border-radius: 10px;}*/
/*.navul li a:hover{color: #fff;}*/
.navul li:hover{background: #323232;}
.navul>li{float: left;/*border-left: #FFF;*/}
/*.nav>ul>li>a{border-right: 1px solid #fff;}
#border{border-left: 1px solid #fff;}*/
.navul>li>ul{position: relative;top: 0;left: 0;display: none;z-index: 1;}
.navul li ul li{font-size: .9em;}
.navul .nav_img,.nav_img img{width: 40px;background: #fff;}
.lineheight{line-height: 20px;}
/*link*/
.link{height: 200px;background-color: #DCDCDC;background: url(../img/linkback.jpg)center center no-repeat;}
.link_title{line-height: 30px;height:30px;border-top: 2px solid #00489D;}
.link_title img{margin-top: 5px;width: 20px;height: 20px;float: left;}
.link_links ul{padding:0 50px;float: left;margin-left: 20px;}
.link_links ul li{height: 30px;width: 120px;}
.link_links ul li a{color: #2D1A14;}
.link_links ul li a:hover{color: #EB6101;}

/*footer*/
.footer{background:#282828;overflow: hidden;}
.footer div{padding-top: 8px;}
#address{float: left;width: 500px;margin:30px 0;}
#addimg{width: 500px;overflow: hidden;margin-bottom:10px;}
.footer p{color: #fff;line-height: 30px;font-size: .9em;text-indent: 5em}
.footer a,#addimg h6{color: #fff;}
.faxytw img,.fxy img{width: 130px;height:130px;padding: 0 30px}
.faxytw,.fxy{float: right;text-align: center}
/*二级界面通用样式*/
/*look*/
body{background: #EDEDED;}
.look,.look img{height: 80px;}
/*address&content*/
.address,.content{background: #fff;}
/*address*/
.address{height:20px;line-height: 20px;}
.address,.address a{color: #535353;font-size: 12px;}
/*content*/
.content{overflow: hidden;background-color:#fff;}
.content_left{height: 650px;width: 180px;background: url(../img/back1.png)center bottom no-repeat;float: left;}
.content_left ul li {float: none;width: 180px;height: 50px;line-height: 50px;text-align: center;}
.content_left ul li a{margin: 0 15px;width: 150px;height: 100%;float: right;display: block;color: #535353;border-bottom: 1px dashed #A0A0A0;}
.content_left ul li a:hover{color: #EC6841;}
.content_act{width: 10px;border-left: 15px solid #00489D;background: url(../img/logoicon.png)left center no-repeat;}
.content_right{width:780px;float: right;overflow: hidden;padding: 10px;}
/*content_right page*/
.content_right{/*! background: #F3F3F3; */}
.page{text-align: right;padding:0 10px;}
.page font,.page a{color:#EB6101; }
.page span,.page a{margin: 0px 10px;}