*{margin: 0;padding: 0;}
html,body{margin:0 auto;padding:0 auto;
font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu,"SimSun",宋体;}
a{text-decoration: none;}
li{list-style: none;}
/*public style*/
.banner{width: 100%;}
.tab_title,.tab,.emtry{width: 1000px;}
.banner_main,.tab_big,.link_big,.foooter_big,.navbig{width: 1452px;}
.banner_main,.banner_img,.tab_big,.tab_main,.tab_title,.tab_body,.tab,.link_big,.foooter_big{margin: 0 auto;}

.tab{padding-top: 20px;background-color:#fff;}
.tab:last-of-type{padding-bottom: 20px;}
/*banner*/
.banner{overflow:hidden;/*! margin: 4px 0; */}
.banner_main{background: url(../img/yuanxun.png) 0% center no-repeat,url(../img/tieta3.png) 100% center no-repeat;}
.banner_img,.banner_img img{width: 1000px;/*! border-radius: 10px; */}
.banner,.banner_main,.banner_img,.banner_img img{height: 420px;}
.banner_img{position: relative;}
.banner_img a{position: absolute;top: 0;left: 0;display: none;float: left;}
.banner_img a:first-of-type{display: block;}
/*imgleft&imgright*/
.imgleft,.imgright{width: 226px;height: 402px;}
.imgleft{float: left;}
.imgright{float: right;}
/*tab*/
.tab{overflow: hidden;}
.tab .tab_main:first-of-type{margin-left:18px;}
.tab_main{float: left;width: 310px;margin-right:17px;}
.tab_main ul{margin-top: 20px;}
.tab_main ul li{min-height:40px;line-height:20px;border-bottom: 1px solid #CED1D6;padding:10px 0}
.tab_main ul li font{float: right;margin-right:10px;}
.tab_main ul li>a{color: #000;}
.tab_main ul li font,.tab_main ul li>a,.title{font-size: 1em;}
.tab_main ul li:hover,.tab_main ul li>a:hover,.title a:hover{background: #fff;color: #EB6101;}
.tab_title,.tab_main ul li,.tab_img,.tab_img img{width: 100%;}
.tab_title{font-family:"SimSun",宋体;color: #00489D;height:30px;line-height:30px;height:30px;border-bottom: 1px solid #0D418C;}
.tab_title h2{float: left;margin-left:10px;font-size: 20px;}
.tab_title a{float: right;margin-right:20px;}
.tab_img{position: relative;}
.tab_img,.tab_img img{height: 180px;width: 310px;}
.tab_img a{position: absolute;}
/*#another{margin-top:40px;}*/
.emtry{}
#another li,#another img{width: 310px;}
#another li:first-of-type{margin-left:18px;}
#another li{border:none;float:left;margin-right:17px;}
#another li:hover,#another li a:hover{background: none;}
#another img{height:98px;}
.time{background: #00489D;float: left;overflow:hidden;margin:0 10px;}
.time span{display: block;text-align: center;padding:2px 5px;}
.time span:first-of-type{border-bottom:1px solid  #efefef;color: #F0EDED;font-size: 1.2em;}
.time span:last-of-type{background:#F0EDED;font-size:0.8em;color:#00489D;}
.title a{color: #000;}

.xyxw{width: 638px;}
.xyxw_img,.xyxw_img img,.xyxw_ul,#banner2,.img_title{width: 310px;}
#banner2{float: left;height:330px;}
.img_title{height:48px;margin-top:280px;}
.img_title a{color: #000;display:none;}
.img_title a:first-of-type{display:block;}

.xyxw_img,.xyxw_img img{height: 260px;}
.xyxw_img{float: left;margin-top:22px;}
.xyxw_ul{float: right;}
/*activ*/
.tab_title .active{background: url(../img/logoicon.png)left center no-repeat;background-color: #002E73;color: #fff;}
.act{display: block;}



